/* .header-container {
    width: 100%;
    background-color: #495e57;
} */

.hero-section {
    padding: 30px;
    max-width: 1000px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    margin: auto;
    /* align-items: center; */
}

.title {
    font-size: 2.7rem;
    margin-top: 0px;
    margin-bottom: 0px;
    /* font-weight: bolder; */
}

.location {
    font-size: 2.1rem;
    margin-top: 0px;
}

.description {
    font-weight: 500;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    max-width: 700px;
}

.description-hours {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.description-hours-bottom {
    margin-bottom: 10px;
}

.hero-information {
    margin-right: 15px;
    text-align: center;
}

.hero-buttons-container {
    max-width: 510px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.hero-image-and-contact {
    position: relative;
}

.view-reviews-hero {
    margin-top: 5px;
    margin-bottom: 5px;
}

.view-services-hero,
.view-reviews-hero,
.leave-review-hero {
    width: 200px;
}

.hero-image-container {
    position: relative;
    height: 500px;
    width: auto;
    overflow: hidden;
}

.hero-image {
    height: 100%;
    border: 2px solid #222222;
    object-fit: cover;
}

/* .hero-image:hover {
    transform: scale(1.05);
} */

.contact-container {
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* width: 100%; */
    position: absolute;
    bottom: 0px;
    /* z-index: 2; */
}

.contact-heading-container {
    display: flex;
    justify-content: center;
}

.contact-heading-text {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.8rem;
    font-weight: lighter;
}

.contact-container a {
    color: white;
}

.gradient-overlay {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 1.0) 20%, rgba(0, 0, 0, 0));
    /* pointer-events: none; */
    /* z-index: 1; */
}

@media screen and (min-width: 1000px) {
    .title {
        font-size: 2.9rem;
    }

    .location {
        font-size: 2.3rem;
    }

    .description {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 1000px) {

    .title,
    .location,
    .description {
        text-align: center;
    }

    .hero-section {
        flex-direction: column;
    }

    .hero-information {
        margin-right: 0px;
    }

    .hero-buttons-container {
        margin-bottom: 20px;
    }

    .hero-image {
        height: auto;
        width: 310px;
    }

    .hero-image-and-contact {
        margin: auto;
    }

    .gradient-overlay {
        width: 313px;
    }
}