.gallery-section {
    /* max-width: 1000px; */
    margin: auto;
}

.gallery-outer-container {
    overflow-x: scroll;
    width: 100%;
    white-space: nowrap;
}

.gallery-inner-container {
    display: flex;
    flex-direction: row;
}

/* 
.gallery-image {
    border: 2px solid black;
    width: 350px;
    height: auto;
} */


.slider-container .slick-slide img {
    border: 2px solid black;
}

.gallery-image {
    height: 350px;
    /* width: 100%; */
}

.slick-arrow {
    /* height: 80px; */
}

.slick-next {
    right: 15px !important;
}

.slick-prev {
    left: 15px !important;
}

.slick-next,
.slick-prev {
    z-index: 1;
    top: 170px;
}

.slick-prev:before,
.slick-next:before {
    opacity: 1 !important;
    color: black;
}

.slick-list {
    padding: 0 0% !important;
    /* max-width: 1000px; */
}

.slider-container {
    /* display: flex; */
    margin: auto;
    max-width: 1500px;
}

/* .slick-track {
    max-width: 1000px;
} */

.slick-slide {
    display: flex !important;
    justify-content: center !important;
    cursor: grab;
}

.slick-slider {
    display: flex;
    justify-content: center;
    /* margin: auto; */
    /* max-width: 350px; */
}

.slick-slider .slick-dots {
    max-width: 330px;
}

.slick-dots button:before {
    margin-top: 10px;
}

@media screen and (min-width: 1200px) {
    .slick-next {
        top: 381px !important;
        right: 40% !important;
    }

    .slick-prev {
        top: 381px !important;
        /* left: 540px !important; */
        left: 40% !important;
    }
}

@media screen and (min-width: 775px) {
    .slick-next {
        top: 381px !important;
        right: 33% !important;
    }

    .slick-prev {
        top: 381px !important;
        left: 33% !important;
    }
}

@media screen and (max-width: 775px) {
    .slick-dots {
        bottom: -12%;
    }

    /* .slick-next {
        top: 422px !important;
        right: 42% !important;
    }

    .slick-prev {
        top: 422px !important;
        left: 42% !important;
    } */

    .slick-prev:before,
    .slick-next:before {
        opacity: 0 !important;
    }
}

@media screen and (max-width: 420px) {
    .slick-dots {
        bottom: -14%;
    }

    .gallery-image {
        height: 300px;
        /* padding: 20px; */
    }
}