.gallery-section {
    /* max-width: 1000px; */
    margin: auto;
}

.gallery-outer-container {
    overflow-x: scroll;
    width: 100%;
    white-space: nowrap;
}

.gallery-inner-container {
    display: flex;
    flex-direction: row;
}

/* 
.gallery-image {
    border: 2px solid black;
    width: 350px;
    height: auto;
} */


.slider-container .slick-slide img {
    border: 2px solid black;
    width: 90%;
    height: auto;
}

.gallery-image {
    /* display: flex !important; */
    /* justify-content: center !important; */
    /* margin-right: 5px !important; */
}

.slick-arrow {
    /* height: 80px; */
}

.slick-next {
    right: 15px !important;
}

.slick-prev {
    left: 15px !important;
}

.slick-next,
.slick-prev {
    z-index: 1;
    top: 170px;
}

.slick-prev:before,
.slick-next:before {
    opacity: 1 !important;
    color: black;
}

.slick-list {
    padding: 0 0% !important;
}

/* .slick-track {
    max-width: 1000px;
} */

.slick-slide {
    display: flex !important;
    justify-content: center !important;
    cursor: grab;
}

.slick-dots button:before {
    margin-top: 10px;
}