.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* max-width: 1000px; */
    padding: 0px 10px;
    background-color: #222222;
    transition: transform 0.3s ease;
}

.nav-bar a {
    color: white;
    font-size: 1.3rem;
    font-weight: lighter;
}

.nav-options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    max-width: 1000px;
    width: 100%;
    /* margin-bottom: 0px; */
}

.small-logo {
    height: 52px;
    width: auto;
}

.nav-button {
    background: none;
    color: white;
    border: none;
    font-weight: 500;
    border: 2px solid white;
}

.nav-button:hover {
    background-color: white;
    color: #222222;
    font-weight: bold;
}