.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    padding: 0px 10px;
    background-color: #222222;
    transition: transform 0.7s ease;
    position: fixed;
    z-index: 10;
}

.nav-bar.hidden {
    transform: translateY(-100%);
}

.nav-bar a {
    color: white;
    font-size: 1.3rem;
    font-weight: lighter;
}

.nav-options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    max-width: 1000px;
    width: 100%;
    padding: 0px 15px;
}

.small-logo {
    height: 52px;
    width: auto;
    cursor: pointer;
}

.nav-button {
    background: none;
    color: white;
    border: none;
    font-weight: 500;
    border: 2px solid white;
}

.nav-button.active {
    background-color: white;
    color: #222222;
    font-weight: bold;
}

.nav-button:hover {
    background-color: white;
    color: #222222;
    font-weight: bold;
}
