.footer-container {
    width: 100%;
    background-color: #222222;

}

.footer-section {
    padding: 10px 30px;
    color: white;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
}

.footer-options-container {
    margin-right: 10px;
}

.footer-section a {
    color: white;
}

.footer-section li {
    /* font-weight: bolder; */
}

.footer-heading {
    font-size: 1.6rem;
    margin-bottom: 5px;
}

.first-footer-section {
    display: flex;
    flex-direction: row;
}

.big-logo {
    height: 140px;
    width: auto;
    margin-right: 30px;
    margin-top: 20px;
}

.footer-heading {
    /* font-weight: bold; */
}

.footer-options {
    /* margin-top: 8px; */
    font-family: Urbanist, sans-serif;
}

.footer-icon {
    height: 25px;
    width: 25px;
}

.footer-icon-container {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.footer-icon-description {
    margin: 0px 5px;
}

@media screen and (max-width: 780px) {
    .footer-section {
        flex-direction: column;
        align-items: center;
    }

    .footer-icon-container {
        align-items: normal;
    }

    .footer-heading {
        display: flex;
        justify-content: center;
    }

    .footer-options-container {
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .footer-options {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .big-logo {
        margin: 0px;
        margin-top: 10px;
    }
}