body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  background-color: #f6f1eb;
}

ul {
  list-style-type: none;
  padding: 0px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

button {}

button:hover {}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.urbanist {
  font-family: 'Urbanist', sans-serif;
}